/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(./assets/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "Quicksand-Bold";
  src: local("Quicksand-Bold"), url(./assets/fonts/Quicksand-Bold.ttf);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 0;
}

.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.headerLogo {
  align-items: center;
}

.headerItem {
  font-size: 24px;
  font-family: "Quicksand-Bold";
}

.logo {
  height: 80px;
  border-radius: 1rem;
}

.button {
  height: 40px;
  width: 120px;
  margin: auto;
  background-color: transparent;
  border-radius: 1em;
  font-size: 18px;
  cursor: pointer;
  font-family: "Quicksand-Bold";
}

.sectionContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #004c5c;
  border-bottom: solid 0.1rem;
}

.sectionContainer1 {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 30px 500px;
  background-color: #d17e46;
}

.print {
  height: 600px;
  padding: 0 10px;
}

.sectionContent {
  margin-left: 30px;
}

.sectionContenti {
  display: flex;
  justify-content: space-evenly;
}

.sectionHeader {
  color: white;
  font-family: "Quicksand-Bold";
  font-size: 2.3rem;
  text-align: center;
}

.sectionText1 {
  font-family: "Quicksand-Bold";
  text-align: center;
  font-size: 1.1rem;
  color: white;
}

.sectionText {
  font-family: "Quicksand";
  text-align: justify;
  font-size: 1.1rem;
  color: white;
  width: 600px;
  align-items: center;
}

.devCard {
  padding: 0 20px;
  margin: 10px;
}

.devPic {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.devName {
  font-family: "Quicksand-Bold";
  color: white;
}

.devCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  align-items: center;
}

.sectionContainerc {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #004c5c;
  border-bottom: solid 0.1rem;
}

.devDesc {
  color: white;
  font-family: "Quicksand";
  font-size: 18px;
}

.teamHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #004c5c;
}

.teamHeader h1 {
  font-family: "Quicksand-Bold";
  color: white;
  font-size: 2.3rem;
  text-align: center;
  padding: 0;
  margin: 20px;
}

.fa-solid {
  margin-right: 5px;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ufs {
  height: 200px;
}

.teamContainer {
  border-bottom: solid 0.1rem;
}

.contactContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #004c5c;
  border-bottom: solid 0.1rem;
}
