/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(./assets/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "Quicksand-Bold";
  src: local("Quicksand-Bold"), url(./assets/fonts/Quicksand-Bold.ttf);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 100%;
  margin: 0;
}

.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.headerLogo {
  align-items: center;
}

.headerItem {
  font-size: 24px;
  font-family: "Quicksand-Bold";
}

.logo {
  height: 150px;
  border-radius: 1rem;
}

.button {
  height: 40px;
  width: 120px;
  margin: auto;
  background-color: transparent;
  border-radius: 1em;
  font-size: 18px;
  cursor: pointer;
  font-family: "Quicksand-Bold";
}

.sectionContainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 20px 200px;
  background-color: #004c5c;
  border-bottom: solid 0.1rem;
}

.sectionContainer1 {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 30px 550px;
  background-color: #d17e46;
}

.print {
  height: 600px;
  padding: 0 10px;
}

.sectionContent {
  margin-left: 30px;
}

.sectionContenti {
  display: flex;
  justify-content: space-evenly;
}

.sectionHeader {
  color: white;
  font-family: "Quicksand-Bold";
  font-size: 2.8rem;
  text-align: center;
}

.sectionText1 {
  font-family: "Quicksand-Bold";
  text-align: center;
  font-size: 1.6rem;
  color: white;
}

.sectionText {
  font-family: "Quicksand-Bold";
  text-align: justify;
  font-size: 1.5rem;
  color: #004c5c;
  width: 600px;
  align-items: center;
}

.sectionHeader2 {
  color: white;
  font-family: "Quicksand-Bold";
  font-size: 2.8rem;
  text-align: center;
}

.sectionText2 {
  font-family: "Quicksand-Bold";
  text-align: justify;
  font-size: 1.5rem;
  color: white;
  width: 600px;
  align-items: center;
}

.devCard {
  padding: 0 20px;
  margin: 10px;
  align-items: center
}

.devPic {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  border-radius: 90px;
}

.devName {
  font-family: "Quicksand-Bold";
  color: white;
  align-items: center;
  font-size: 22px;
}

.devCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  align-items: center;
}

.devCards:nth-child(n+5) {
  display: flex;
  justify-content: space-evenly;
}

.devCardsT {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  align-items: center;
  justify-content: space;
}

.sectionContainerc {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #004c5c;
}

.devDesc {
  color: white;
  font-family: "Quicksand";
  font-size: 18px;
}

.teamHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #004c5c;
}

.teamHeader h1 {
  font-family: "Quicksand-Bold";
  color: white;
  font-size: 2.3rem;
  text-align: center;
  padding: 0;
  margin: 20px;
}

.fa-solid {
  margin-right: 5px;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.teamContainer {
  border-bottom: solid 0.1rem;
}

.contactContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #004c5c;
  border-bottom: solid 0.1rem;
}

.headerContent h1 {
  color: #004c5c;
}

.headerContent p {
  color: #004c5c;
}

.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  margin: auto;
}

.card {
  width: 260px;
  height: 240px;
  display: flex;
  background-color: #004c5c;
  flex-direction: column;
  border-radius: 10px;
  margin: 50px 0;
}

.cardIcon {
  height: 60px;
  width: 50px;
  padding: 10px 0;
  margin-left: 10px;
}

.cardText {
  color: white;
  font-family: "Quicksand-Bold";
  margin: 10px 15px;
  font-size: 18px;
}

.logosContainer {
  margin: 30px 0;
  align-items: center;
}

.infoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.logoUfs {
  height: 200px;
}

.logoDcomp {
  width: 400px;
}

.slider-wrapper .image-list {
  display: grid;
  gap: 25px;
  margin-bottom: 30px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
}

.slider-wrapper .image-list .imgC {
  width: 325px;
  height: 750px;
  object-fit: cover;
}

.carrosselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f1f4fd;
}

.carrossel {
  max-width: 1200px;
  width: 95%;
}

.carrossel .slider-scrollbar {
  height: -24px;
  width: 100%;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  color: #fff;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%; 
  border: none;
  outline: none; 
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #444;
}

.slider-wrapper .slide-button#prev-slide {
  left: -20px;
}

.slider-wrapper .slide-button#next-slide {
  right: -20px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.cardHead {
  color: #004c5c;
  font-family: "Quicksand-Bold";
  font-size: 1.4rem;
  text-align: center;
}

.cardDesc {
  color: #004c5c;
  font-family: "Quicksand-Bold";
  font-size: 1.1rem;
  text-align: justify;
}

.headText {
  font-family: "Quicksand-Bold";
  font-size: 2.8rem;
  text-align: center;
  color: #004c5c;
}

.devLine {
  display: flex;
}